body {
  font-family: monospace;
  font-size: 72px;
  -webkit-app-region: drag;
  height:10px;
  margin: 0px;
}

#seconds {
  font-size:30px;
}

#tens {
  font-size:30px;
}

#today-work {
  font-size:10px;
  color:white;
  text-align: center;
}

#clock {
  text-align: center;
  padding-left: 12px;
}

#button-close {
  float: right;
  margin-right: 3px;
  height: 15px;
}

.wrapper {
  color: #e74689;
  padding: 13px;
  top:20px;
  right:0px;
  bottom:0px;
  left:0px;
  margin: 0px;
  border-radius: 15px;
  background: rgba(22, 19, 19, 0.61);
}